@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700;800;900&display=swap");
:root{
  --background: #FFF;
  --font: #000
  --fontfamily: "Raleway", sans-serif;
  --white:rgb(255, 255, 255);
  --button: rgb(163, 89, 231);
  --text: rgba(0, 0, 0, 0.733);
  --wrong:rgb(243, 12, 58);
  --redlight:rgba(220, 20, 60, 0.342);
  --right:rgb(113, 221, 4);
  --greenlight:rgba(113, 221, 4, 0.342);
}
html,
body {
  margin: 0%;
  padding: 0%;
  font-family: raleway;
  box-sizing: border-box;
}
.App {
  font-family: var(--fontfamily);
  font-weight: bold;
  width: 100vw;
  height: 100vh;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 3% 0%;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border-width: 5px;
  border-style: solid;
}
h1 {
  margin: 0%;
  padding: 2%;
  color: var(--text);
  text-align: center;
}
button {
  padding: 2%;
  margin: 2%;
  border: 2px solid var(--button);
  height: fit-content;
  border-radius: 10px;
  font-family: var(--fontfamily);
  background-color: var(--button);
  color: var(--white);
  font-weight: bold;
}
button:active {
  background-color:var(--white);
  border: 2px solid var(--button);
  color: var(--button);
}


.guess-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}


p {
  text-align: center;
  width: 45%;
  margin: auto;
}
.correct{
  color: var(--right);
  font-weight: bold;
  padding: 5%;
  background-color: var(--greenlight);
  border-radius: 10px;
  border: 2px solid var(--right);
 
}
.wrong{
  color:var(--wrong);
  padding: 5%;
  background-color: var(--redlight);
  border-radius: 10px;
  border: 2px solid var(--wrong);
}
h3 {
  text-align: center;
  color: var(--text);
  font-size: 1rem;
}
.congo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
}


/* .darkmode{
  --background: #1b1c25;
  --font: #ffffff
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--background);
  color: var(--font);
}

.guess-me {
  width: 340px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 4px;
}

button {
  padding: 6px 12px;
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--font);
  background: rgba(126, 126, 126, 0.1);
  border: 1px solid grey;
  border-radius: 4px;
}

button + button {
  margin-left: 20px;
}

.wrong {
  font-size: 24px;
  color: crimson;
  text-align: center;
}

.correct {
  font-size: 24px;
  color: chartreuse;
  text-align: center;
}

.theme-button{
  position: absolute;
  top: 30px;
  right: 30px;
} */


