.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.guess-me {
  width: 330px;
  height: 200px;
  margin-bottom: 20px;
}

button {
  padding: 4px;
  font-size: 18px;
}

button + button {
  margin-left: 20px;
}
